<%- include('partials/header') -%>

<div class="container mt-5">

  <!-- Map Container -->
  <div id="feedMap" style="height: 400px; width: 100%;"></div>
  <!-- Map Container -->

  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
      <% for(var i=0; i<posts.length; i++) { %>
        <li class="col-6 justify-content-between mt-5">
          <a href="/post/<%= posts[i]._id %>">
            <img class="img-fluid" src="<%= posts[i].start?.image %>">
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</div>



<!-- LEAFLET CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>

<!-- LEAFLET JS -->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
</script>

<script>
document.addEventListener('DOMContentLoaded', () => {

  const posts = <%- JSON.stringify(posts) %>;

  // Init map
  const feedMap = L.map('feedMap').setView([38, -77], 1);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors',
    noWrap: true
  }).addTo(feedMap);

  // Add markers for posts
  posts.forEach(post => {

    if (post.arrival?.itemLat && post.arrival?.itemLong) {
      const marker = L.marker([post.arrival.itemLat, post.arrival.itemLong]).addTo(feedMap);

      const popupContent = `
        <strong>Who:</strong> ${post.fiveWs?.who || ''}<br>
        <strong>What:</strong> ${post.fiveWs?.what || ''}<br>
        <strong>Where:</strong> ${post.fiveWs?.where || ''}<br>
        <strong>When:</strong> ${post.fiveWs?.when || ''}<br>
        <strong>Why:</strong> ${post.fiveWs?.why || ''}
      `;

      marker.bindPopup(popupContent);
    }

  });

});
</script>

<%- include('partials/footer') -%>